.App {
  text-align: center;
}

.recipe {
  border: 1px solid black;
  margin: 50px 400px;
  padding: 20px;
}

a {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.likeBttn {
  color: rgba(250, 0, 0, 0.33);
}

.unlikeBttn {
  color: rgba(250, 0, 0, 1);
}